@media screen and (max-width:600px) {
    .main {
        width: 300px;
        height: 493px;
        position:absolute;
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
        max-width:100%;
        max-height:100%;
        overflow:visible;
    }

    .left {
        width:100%;
        text-align: center;
        padding-top:0px;
    }

    .right {
        width: 100%;
    }
}
